.container {
  background: #570279;
  display: flex;
  align-items: center;
  justify-content: center;

}
.text{
  width: 600px;
  color:white;
}
img{
  padding: 100px;
  width: 400px;
  height: 400px;
  margin-left: 200px;
  border-radius: 50%;
}