.form {
  width: 200px;
}

.form, .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  padding: 60px 75px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20vh;
  background-size: 300%;
  background-image: linear-gradient(90deg, #ee6352, purple, #ee6352);
  animation: bg-animation 30s infinite;
}

button {
  margin-bottom: 20px;
  width: 200px;
}

h3 {
  font-size: 20px;
  margin-bottom: 25px;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

p {
  align-self: flex-start;
}
