h3 {
  margin-top: -5px;
}
p {
  overflow: auto;
  max-height: 100px;
  word-wrap: break-word;
  color: gray;
  margin-bottom: 5px;
}
.stars {
  margin-top: -5px;
}
div:hover {
  cursor: default;
  color: gray;
}
span:hover {
  cursor: pointer;
  color: #1890ff;
}
img {
  width: 100%;
  height: 200px;
}

nz-card{
 border-color: rgba(rgb(100, 100, 100), 0.2);
 border-width:1.5px;
 margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
