h3{
    margin-top: -5px;
}
p{
    color:gray;
    margin-bottom: 5px;
}
.stars{
    margin-top: -5px;
}
div:hover{
    cursor:default;
    color: gray; 
}
span:hover{
    cursor:pointer;
    color: #1890FF;
}