<button nz-button [nzType]="'primary'" (click)="showModal()">Add trip</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Add a trip"
  (nzOnCancel)="modalCancel()"
  (nzOnOk)="addTrip()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="addTripForm">
      <nz-form-item>
        <nz-form-control nzErrorTip="Name is missing!">
          <input nz-input placeholder="Name" [formControl]="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Country is required!">
          <input nz-input placeholder="Country" [formControl]="country" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="rating">
        <nz-form-control nzErrorTip="Rating is required!">
          <p>Rating: <nz-rate [formControl]="rating"></nz-rate></p>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Expenses must be a number!">
          <input nz-input placeholder="Expenses" [formControl]="expenses" />
          <span class="dollar">$</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Notes contains at least 16 characters!">
          <input nz-input placeholder="Notes" [formControl]="notes" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
